body{
    margin: 0;
    padding: 0;
    background-image: url(img/dc.jfif);
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    height: 90vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.wrapper{
    width: 1170px;
    margin: 5% auto;
}

.wrapper h2{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    color: #fff;
    margin: 0;
}
.single-service{
    position: relative;
    width: 31%;
    height: 320px;
    background: #fff;
    box-sizing: border-box;
    padding: 0 15px;
    transition: .5s;
    overflow: hidden;
    float: left;
    margin: 0 10px;
    text-align: center;
}

.line{
    width: 150px;
    height: 3px;
    background: #fff;
    margin: 0 auto 60px auto;
}

.single-service p{
    color: #262626;
    font-size: 14px;
}

.single-service h3{
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #262626;
}

.social{
    width: 60px;
    height: 60px;
    background: #262626;
    border-radius: 50%;
    margin: 5% auto;
}

.social i{
    font-size: 30px;
    padding: 15px;
    color: #fff;
}

.single-service span{
    position: absolute;
    top: 0;
    left: -110%;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    transition: .7s;
    transform: skewX(10deg);
}

.single-service:hover span{
    left: 110%;
}

@media (max-width:600px) {
    .wrapper{
        width: 100%;
    }

    .single-service{
        width: 95%;
        margin-bottom: 30px;
    }
    .wrapper h2{
        font-size: 30px;
    }
}